<main>
  <section class="search__container">
    <div>
      <form [formGroup]="filterGroup">
      <div class="input__container">
          <input formControlName="text" class="form-control search__input" type="text" placeholder="Entry recipe name"
            (input)="filterRecipes()">
        <i class="fas fa-search"></i>
      </div>
      </form>
    </div>
  </section>

  <ng-container *ngIf="(recipesArray$ | async) as recipes">

    <ng-container *ngFor="let recipe of recipes; let i=index; let even=even;">

      <div class="recipes__container" *ngIf="even && i<recipes.length-1 ">

        <app-mini-recipe data-aos="fade-right" id={{recipes[i].id}}
          name={{recipes[i].name}} desc={{recipes[i].desc}}
          author={{recipes[i].author}} imgPath={{recipes[i].imgPath}}>
        </app-mini-recipe>

        <app-mini-recipe data-aos="fade-left" *ngIf="i+1<recipes.length"
          id={{recipes[i+1].id}} name={{recipes[i+1].name}}
          desc={{recipes[i+1].desc}} author={{recipes[i+1].author}}
          imgPath={{recipes[i+1].imgPath}}>
        </app-mini-recipe>

      </div>

    </ng-container>

  </ng-container>
</main>
