@import "./styles/variables.scss";

.add__container {
  min-height: 100vh;
  background: url($mainBgUrl) no-repeat center center fixed;
  background-size: 100vw 100vh;
  padding: 20px;
  position: relative;
  color: $mainColor;
  font-size: $mainFontSize;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: $mainBgGradient;
    opacity: 0.4;
  }

  .wrapper {
    display: flex;
    flex-flow: row;

    @media only screen and (max-width: 767px) {
      flex-flow: column;
    }
  }

  .result__container {
    background-color: rgba(255, 255, 255, 0.75);
    font-family: $recipeFont;
    padding: 10px;
    color: #000000;
  }
}

.result__container {
  .recipe__ingredients {
    list-style: none;
    padding: 10px 0;
    margin: 0;

    .fa-times-circle {
      margin-left: 40px;
      margin-right: 20px;
      cursor: pointer;
      color: $timesColor;
      transition: 0.5s all;

      &:hover {
        color: $timesColorHover;
        transition: 0.5s color;
      }
    }

    li {
      display: flex;
      justify-content: space-between;
    }
  }
}

.main__container,
.result__container {
  .recipe__label {
    display: block;
    padding: 5px 10px;
  }

  .recipe__paragraph {
    font-size: 18px;
    padding: 10px 0px;
    margin: 0;
    overflow-wrap: break-word;
  }

  .recipe__select,
  .recipe__textarea {
    &:focus {
      border-color: transparent;
      box-shadow: 0 0 0 0.2rem $inputsBorderColor;
      transition: 0.5s all ease-out;
    }
  }

  .recipe__textarea {
    min-height: 100px;
  }

  .recipe__button {
    height: 38px;
    background-color: $buttonColor;
    border: none;
    transition: 0.5s background-color;

    &:hover {
      background-color: $buttonColorHover;
      transition: 0.5s background-color;
    }
  }

  .recipe__select {
    overflow-y: auto;

    & > option {
      background-color: $optionColorHover;
    }
  }

  .fa-plus-circle {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s color;

    &:hover {
      color: #57941e;
      transition: 0.5s color;
    }
  }

  .alert__error {
    display: block;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 5px 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    transition: all 1s;
  }
}

.recipe__input {
  &:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem $inputsBorderColor;
    transition: 0.5s all ease-out;
  }
}

app-autocomplete-input {
  display: block;
  width: 100%;
  color: #000000;
  font-size: 16px;

  ::ng-deep .autocomplete__container {
    width: 100%;
  }

  ::ng-deep .autocomplete__dropdown {
    max-height: 136px;
  }
}

.ingredient__add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ingredients__add,
.units__add,
.quantity__add,
.button__container,
.executionTime__container,
.diffLevel__container {
  display: inline-block;
  width: 50%;

  @media only screen and (max-width: 767px) {
    width: 100%;
    padding: 10px;
  }
}

.ingredients__add,
.quantity__add,
.executionTime__container {
  padding: 10px;
  padding-left: 0;

  @media only screen and (max-width: 767px) {
    padding: 10px 0;
  }
}

.units__add,
.button__container,
.diffLevel__container {
  padding: 10px;
  padding-right: 0;

  @media only screen and (max-width: 767px) {
    padding: 10px 0;
  }
}

.quantity__add {
  input {
    width: 100%;
  }
}

.button__container {
  display: flex;
  align-items: flex-end;

  .recipe__button {
    width: 100%;
  }
}


.input__file {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input__file + label {
  line-height: 17px;
  margin:0;
  width: calc(50% - 10px);
  padding: 10px;
  padding-left: 0;

  @media only screen and (max-width: 767px) {
    padding: 10px 0;
    width: 100%;
  }
}

.file-name {
  margin-left: 30px;

  @media only screen and (max-width: 767px) {
    display: block;
    margin-left: 10px;
    padding: 15px 0;
    width: 100%;
  }
}

